* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container-modal {
    display: none;
    position: fixed;
    background-color: rgba(36, 37, 37, 0.86);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.content-modal {
    background-color: rgba(17, 17, 17, 0.945);
    margin: 50px 50px;
    padding: 25px;
    height: 540px;
    position: relative;
}

.info-game {
    position: absolute;
    top: 90px;
    max-width: 630px;
    right: 30px;
}

.precio {
    position: absolute;
    bottom: 90px;
    max-width: 660px;
    left: 580px;
    top: 325px;
}

.video-frame {
    width: 540px;
    height: 300px;
}

.btn-cerrar {
    position: absolute;
    bottom: 90px;
    max-width: 660px;
    right: 370px;
    top: 355px;
}
.close-modal{
    background-color: black;
    color: white;
    padding: 10px 25px;
    border-radius: 15px;
    border: 1px solid blueviolet;
    cursor: pointer;
    transition: 300ms;
}

.close-modal:hover {
    background-color: blueviolet;
}

.open-modal {
    font-size: 30px;
    background-color: black;
    padding: 5px;
    color:  white;
    border: none;
    font-weight: bold;
    max-height: 30px;
    cursor: pointer;
    margin-bottom: 60px;


}
