@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: black;
  font-family: "Oswald", cursive;
  color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
}

.header-content {
  display: flex;
  width: 100%;
}

.menu {
  position: relative;
  left: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  background-color: rgba(49, 49, 51, 0.63);
  z-index: 2;
}

.menu ul li {
  display: inline-block;
  padding-left: 70px;
}

.menu .navbar ul li a {
  font-size: 20px;
  color: #ffffff;
  display: block;
  padding: 10px 5px;
  margin: 0 5px;
}

.menu .navbar ul li a:hover {
  color: #40aff8;
}

#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}

.logo {
  font-size: 45px;
  color: white;
  background-image: url(/assets/Logo.png);
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  border-width: 3px;
  border-image: url(/assets/Border.png);
}

.class-img {
  width: 300px;
}

h3 {
  color: #40aff8;
}

.position {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}

.slider {
  background-image: url(/assets/World\ Of\ Warcraft\ War\ Within.avif);
  background-size: contain;
  background-position: center;
  height: 100vh;
  width: 100vw;
  border-radius: 10px;
  animation: animate 65s infinite;
  z-index: 1;
}

@keyframes animate {
  5% {
    background-image: url(/assets/World\ Of\ Warcraft\ War\ Within.avif);
    background-size: cover;
} 
10% {
  background-image: url(/assets/Spiderman\ 1.jpg);
  background-size: cover;
}
15% {
  background-image: url(/assets/Red\ dead\ redemtion\ 2.jpeg);
  background-size: cover;
}
20% {
  background-image: url(/assets/Cyberpunk\ 2077.jpg);
  background-size: cover;
}
25% {
  background-image: url(/assets/Minecraft.jpg);
  background-size: cover;
}
30% {
  background-image: url(/assets/God\ of\ war\ 4.jpg);
  background-size: cover;
}
35% {
  background-image: url(/assets/Call\ of\ Duty\ Modern\ Warfare\ II.jpg);
  background-size: cover;

}
40% {
  background-image: url(/assets/Far\ Cry\ 6.jpg);
  background-size: cover;

}
45% {
  background-image: url(/assets/Elden\ Ring.jpg);
  background-size: cover;

}
50% {
  background-image: url(/assets/Forza\ Horizon\ 5.jpg);
  background-size: cover;

}

55% {
  background-image: url(/assets/Injustice\ 2.jpg);
  background-size: cover;

}
60% {
  background-image: url(/assets/Dont\ Starve\ Together.png);
  background-size: cover;
}
65% {
  background-image: url(/assets/Dragon\ Ball\ Z\ Kakarot.jpg);
  background-size: cover;
}
70% {
  background-image: url(/assets/Mk\ 1.jpg);
  background-size: cover;
}
75% {
  background-image: url(/assets/Monster\ Hunter.jpg);
  background-size: cover;
}
80% {
  background-image: url(/assets/the-last-of-us-part-1-remake-joel-ellie-4k-wallpaper-uhdpaper.com-319@1@h.jpg);
  background-size: cover;
}
85% {
  background-image: url(/assets/Star\ Wars\ Jedi\ Fallen\ Order.jpg);
  background-size: cover;
}
}

.games {
  padding: 50px 0 0 0;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

hr {
  border: 1px solid #40aff8;
  width: 50%;
  margin-bottom: 40px;
}

.container-1 {
  margin-top: 400px;
}

.container-1,
.container-2,
.container-3 {
  padding-left: 85px;
  padding-right: 85px;
}

.box-container-1,
.box-container-2,
.box-container-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  padding-left: 80px;
  padding-right: 80px;
}

.box-1,
.box-2,
.box-3 {
  border-radius: 5px;
  z-index: 1000;
}

.box-1:nth-child(1),
.box-1:nth-child(2),
.box-1:nth-child(3),
.box-1:nth-child(4),
.box-2:nth-child(1),
.box-2:nth-child(2),
.box-2:nth-child(3),
.box-2:nth-child(4),
.box-3:nth-child(1),
.box-3:nth-child(2),
.box-3:nth-child(3),
.box-3:nth-child(4) {
  display: inline-block;
  margin-bottom: 60px;
}

.load-more {
  margin-top: 40px;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 15px;
  border: 1px solid #40aff8;
  color: #40aff8;
  font-size: 16px;
  cursor: pointer;
  align-self: flex-end;
}

.load-more:hover {
  background-color: #40aff8;
  color: white;
}

.content img {
  width: 100%;
  margin-bottom: 15px;
}

.content h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.content {
  color: white;
  font-size: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
  margin-top: 100px;
  border-top: 1px solid #40aef8a2;
}

.footer ul {
  display: flex;
}

.footer h3 {
  font-size: 30px;
}

.footer a {
  color: white;
  font-size: 20px;
  margin-right: 20px;
  display: block;
}

.footer a:hover {
  color: #40aff8;
}

@media (max-width: 991px) {
  .menu  {
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
  }

 

  .menu label {
    display: initial;
  }

  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(49, 49, 51, 0.63);  }

  .menu .navbar ul li {
    width: 100%;
  }
  
  .menu-hamburguesa {
    width: 35px;
    height: 35px;
    margin-top: 15px;
    transition: transform 0.3s ease;
  }

  .menu-hamburguesa.rotada {
    transform: rotate(90deg);
  }
  .btn-1 {
    display: none;
  }

  #menu:checked ~ .navbar {
    display: initial;
  }

  .footer {
    margin-top: 30px;
    padding: 30px;
    flex-direction: column;
    text-align: center;
  }

  .footer ul {
    margin-top: 15px;
    justify-content: center;
  }


  .container-1,
  .container-2,
  .container-3 {
    padding-left: 50px;
    padding-right: 80px;
  }

}





  